RewriteEngine On
RewriteBase /

# Redirect all requests to index.php except for existing files and directories
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^$ index.php [L]

# Any other requests, such as login.html, will be routed as-is
RewriteRule ^login.html$ login.html [L]
