RewriteEngine On
RewriteBase /

# Route requests to index.php when visiting root URL
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^$ index.php [L]

# Allow direct access to login.html
RewriteRule ^login.html$ login.html [L]
